body {
    background-color: black;
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
  
  .container#scoreboard {
    height: 12rem;
    width: 40rem;
    background-color: rgb(5, 54, 5);
}


  .container#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11rem;
    width: 40rem;
    background-color: rgb(5, 54, 5);
}
  
  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 2rem;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}
  
  button:hover {
    background-color: gold;
    color: white;
    border-width: 0.1em;
    border-color: white;
}
